<p id="notice"><%= notice %></p>

<p>
  <strong><%= t_attr('title') %></strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t_attr('memo') %></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t_attr('author') %></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t_attr('picture') %></strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('buttom.edit'), edit_book_path(@book) %> |
<%= link_to t('buttom.back'), books_path %>
