<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= @report.created_at %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<%= link_to t('views.common.back'), user_reports_path(@report.user_id) %>
